*{
    font-family: sans-serif;
}

body {
    margin: 0;
}

.logotipo {
    margin-top: 30px; /* Define 30 px de margem superior */
    margin-bottom: 30px; /* Define 30px de margem inferior */
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none; /* Remove marcadores da lista */
    margin: 0; /* Define margem como 0 */
    padding: 0; /* Define espaçamentos como 0 */
    overflow: hidden; /* Todos os elementos serão ocultos por ela*/
    background-color: #0dcaf0; /* Define a cor da barra de navegação */
    position: sticky; /* Define a posição da barra como tipo sticky */
    top: 0; /* zera espaço do topo */
    


}
li{
   float: left; /* Flutua os elementos para a esquerda */

}

li a {
    display: block; /* Define como os elementos serão exibidos */
    color: white; /* Define a cor do link */
    text-align: center; /* Alinha o texto dentro da célula */
    padding: 14px 16px; /* Define espaçamento Superior/Inferior e Esquerda/Direita */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 12pt; /* Define o tamanhho da letra dos links */
}

li a:hover:not(.ativo){
    background-color:#111;
}

.ativo{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.divPrincipal {
    height: 1500px;
}

.rodape {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 12pt;
    color: white;
    text-align: center; /* Define o alinhamento do texto*/
}

h3{
    text-align: center;
}