.divTabela {
    border-radius: 5px;
    background-color:white;
    padding: 20px; /* Define espaçamento */
    font-size: 12pt;
    margin: 0 auto;
    width: 75%; /* Define largura do elemento (divForm) */
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px grey;
    overflow-x: auto; /* define traansordo horizontal (x) como automático */
}
table {
    border-collapse: collapse; /* Colapsa as bordas da tabela*/
    width: 100%;
    border:none;
}

th, td{
    text-align: left;
    padding: 8px;
    border-bottom: 1px white;
    border-left: none;
    border-right: none;
}

th {
    background-color: white;
    color: black;
}
tr:hover{
    background-color: coral;
    color:white ;
}